# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 4

# To control tab size in github diffs
# See https://github.com/isaacs/github/issues/170#issuecomment-150489692

end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
